<%- include('../Partials/header.ejs') -%>
<!-- Testimonials -->

<div class="testimonial">
    <div class="container">
        <div class="spec-title">
            <h2 class='text-light'>TESTIMONIALS</h2>
            <p class='fw-semibold pb-4 primary'>What they're saying about us</p>
        </div>
        <div class="row">
            <% if (reviews.length> 0) { %>
                <% reviews.forEach(function(review) { %>
                    <div class="col-lg-4">
                        <div class="testimonial-box position-relative">
                            <p class='ff-opensans fst-italic'><i class="bi bi-quote pe-1"></i>
                                <%= review.dsc %>
                            </p>
                            <div class="u-content position-absolute">
                                <div class="u-img d-flex justify-content-center">
                                    <img class='img-fluid' src="<%= review.img %>" alt="" />
                                </div>
                                <p class='mt-2 fw-bolder ff-playfair mb-2'>
                                    <%= review.name %>
                                </p>
                                <p class='ff-playfair'>
                                    <%= review.post %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                        <% } else { %>
                            <p>No testimonials available.</p>
                            <% } %>
        </div>
    </div>
</div>
<%- include('../Partials/footer.ejs') -%>